<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Registration Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>
        <h2 th:text="${subject}"></h2>
        <a th:href="${confirmationUrl}" th:text="${confirmationUrl}"></a>
    </div>
</body>
</html>